* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font imports */
@font-face {
  font-family: Poppins;
  src: url(./assets/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Space Grotesk;
  src: url(./assets/font/SpaceGrotesk-Regular.ttf);
}

body { 
  font: 0.98rem Poppins, sans-serif;
  background-color: rgb(1, 1, 85);
  color: white;
  margin: 30px;
  margin-top: 170px;
}

.nav-bar a {
  font-family: Space Grotesk, sans-serif;
  text-decoration: none;
  color: white;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.menu-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.hero {
  margin: 50px auto;
  width: 95%;
}

h1 {
  font-family: Space Grotesk, sans-serif;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 15px;
  font: inherit;
  margin: 10px auto;
  color: white;
  background-color: black;
  border: thin solid white;
  cursor: pointer;
}

.nav-bar img {
  width: 80px;
  height: 60px;
}

.sub-header {
  margin: 50px auto 30px auto;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: black;
  border: thin solid white;
  padding: 1rem;
}

/* For Screen Responsiveness (Large Screens) */
@media screen and (min-width: 480px) {
  .hero {
    margin-top: 230px;
  }
}